# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env

# Environment & Secrets
.env
.env.*

# Flask instance folders
instance/
*.db
*.sqlite3

# VSCode settings (optional)
.vscode/

# MacOS and system files
.DS_Store
Thumbs.db

# Upload and audio files (optional)
static/uploads/
audio/

# Large video files
static/videos/background.mp4

# Logs
*.log
